    


    <section id="about" class="wow" style="margin-top: 5%;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="assets/img1.jpg" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>It's simple. It's exclusive.<br> And, it's rewarding.</h2>
            <p style="font-size: 18px;">Get invited to be a part of OYO Circle to start promoting our hotels and homes. Earn commissions on successful bookings made through your websites.</p>
            

          </div>
        </div>

      </div>
    </section><!-- #about -->

