<section id="get-started"><div class="get-started-container"><div><h3>Get started</h3><p>Join the ROOTS Circle to drive more value from your audience.</p></div><div class="btn-container"><button type="button" class="custom-btn get-started-btn contact-home-btn secondary-btn">Contact Us</button><button type="button" primary="true" class="custom-btn get-started-btn apply-now-btn primary-btn">Sign Up</button></div></div></section>


<footer class="appfooter">
	<div class="footerContainer">
		<div class="footerlogo">
			<img style="width: 90px;"src="assets/roots.png" alt="" class="logo-footer"><h3>World's fastest growing travel chain.</h3>
		</div>
        <div class="footerContainer2">
        	<div class="inner1">
        		<div class="footerlinkslist1">
        			<a class="footer-links" target="_blank" href="https://oyorooms.com/officialoyoblog/">Official OYO Blog</a>
        			<a class="footer-links">FAQ</a>
        			<a class="footer-links">Contact Us</a>
        		</div>
        		<div class="footerlinkslist1">
        			<a class="footer-links">Terms of Use</a>
        			<a class="footer-links">Privacy Policy</a>
        		</div>
        	</div>
        	<div class="inner2">
        		<p class="downloadtext">Download ROOTS app for exciting offers<a class="footer-links underline-links" target="_blank" href="">Learn more</a></p>
        		<div class="playStore">
        			<div class="playstorelinks"><a target="_blank" href=""><img src="assets/group-5.svg" alt=""></a></div>
        		
        		<div class="playstorelinks"><a target="_blank" href=""><img src="assets/group-7 (2).svg" alt=""></a></div>
        		</div>
        		<p class="footer-link-text">Feeling lucky? Try out a random ROOTS.<a class="footer-links underline-links" target="_blank" href="https://www.oyorooms.com/?utm_source=Social_O_web&amp;utm_medium=1&amp;utm_content=oyocirclewebfooter">Find ROOTS</a></p>
        	</div>
        </div>
        <div class="footerContainer3">
        <div class="img-container">
        	<div><a target="_blank" href=""><img src="assets/facebook.svg" alt=""></a></div>
        	<div><a target="_blank" href=""><img src="assets/twitter.svg" alt=""></a></div>
        	<div><a target="_blank" href=""><img src="assets/youtube.svg" alt=""></a></div>
        	<div><a target="_blank" href=""><img src="assets/pinterest.svg" alt=""></a></div>
         </div>
         <div class="copyright-text"><span>2018-2019 © Oravel Stays Private Limited</span></div>
        </div>

	</div>
	



</footer>
