	<div style="margin-top: 10%;">
	<center>
	<h1><b>Select your preferences</b></h1>
	<h1><%= link_to "College Student", profile_path(id: "student") %></h1>

	<h1><%= link_to "Instagram Influencer", profile_path(id: "influencer") %></h1>
</center>
</div>