 <!-------------------------------
        What our partners are saying 
	--------------------------------->

       <section class="popular">
    <br><h2 class="heading" style="font-size: 30px;"><b>What our partners are saying.</b></h2><br>
<div class="parent-box owl-carousel" id="three">
  <div class="box">
    <img src="/assets/smile1.jpg" alt="Avatar" id="img-box">
    <h3 id="box-title">Dolesh</h3>
    <p id="box-subtitle">YouTube Influencer@200journeys</p>
    <p id="box-content"><i>It's easy for me to promote OYO, as journey's end iin stays and OYOs are everywhere. My followers get a proper recommendation that they actually find and book</i></p>
  </div>
  <div class="box">
    <img src="/assets/smile1.jpg" alt="Avatar" id="img-box">
    <h3 id="box-title">Dolesh</h3>
    <p id="box-subtitle">YouTube Influencer@200journeys</p>
    <p id="box-content"><i>It's easy for me to promote OYO, as journey's end iin stays and OYOs are everywhere. My followers get a proper recommendation that they actually find and book</i></p>
  </div>
  <div class="box">
        <img src="/assets/smile1.jpg" alt="Avatar" id="img-box">
    <h3 id="box-title">Dolesh</h3>
    <p id="box-subtitle">YouTube Influencer@200journeys</p>
    <p id="box-content"><i>It's easy for me to promote OYO, as journey's end iin stays and OYOs are everywhere. My followers get a proper recommendation that they actually find and book</i></p>

  </div>
  <div class="box">
        <img src="/assets/smile1.jpg" alt="Avatar" id="img-box">
    <h3 id="box-title">Dolesh</h3>
    <p id="box-subtitle">YouTube Influencer@200journeys</p>
    <p id="box-content"><i>It's easy for me to promote OYO, as journey's end iin stays and OYOs are everywhere. My followers get a proper recommendation that they actually find and book</i></p>

  </div>
  </div>
</section> <!--#what our partners are saying-->


  <section id="get-started"><div class="get-started-container"><div><h3>Get started</h3><p>Join the ROOTS Circle to drive more value from your audience.</p></div><div class="btn-container"><button type="button" class="custom-btn get-started-btn contact-home-btn secondary-btn">Contact Us</button><button type="button" primary="true" class="custom-btn get-started-btn apply-now-btn primary-btn">Sign Up</button></div></div></section>