<section class="story">
			    <br><h2 class="heading" style="font-size: 40px;"><b>Our story in numbers.</b></h2><br>

			<div class="outer-box owl-carousel" id="one">
				<div class="inner-box">
					<div style="padding: 13%;margin-bottom: 0;bottom: 0;padding-bottom: 0;">
    					<i class="fa fa-line-chart" style="font-size:40px;color:red"></i>

    					<h2 style="margin-top: 25px;font-family: 'Lato';font-size: 34px;color: #000;"><span style="font-size: 35px;font-family:'Lato';font-weight: 500;">&#8377;</span> 

    					<span class="counter-count">1</span><b>,</b>
						<span class="counter-count">65</span><b>,</b>
						<span class="counter-count">80</span><b>,</b>
						<b>000</b></h2>
						<h5>COMMISSION EARNED</h5>
						<p id="story-desc">Get paid for every successful booking. More you book, more money you make.</p>
				</div>
     					<img src="assets/comm.png" id="story-img">

				</div>


				<div class="inner-box">
					
						<div style="padding: 13%;margin-bottom: 0;bottom: 0;padding-bottom: 0;">

							<i class='fas fa-user-friends' style='font-size:40px;color:red'></i>

    						<h2 style="margin-top: 25px;font-family: 'Lato';font-size: 34px;color: #000;"><span style="font-size: 35px;font-family:'Lato';font-weight: 500;"></span><span class="counter-count"><b>600</b></span><b>+</b></h2>
    	
    						<h5>PARTNERS</h5>
     						<p id="story-desc">Individuals, small businesses, and large networks - we are truly inclusive.</p>

    					 </div>

     						<img src="assets/partners.png" id="story-img">
						</div>
				

				<div class="inner-box">
					
						<div style="padding: 13%;margin-bottom: 0;bottom: 0;padding-bottom: 0;">

							<i class='fas fa-bed' style='font-size:40px;color:red'></i>

    						<h2 style="margin-top: 25px;font-family: 'Lato';font-size: 34px;color: #000;"><span style="font-size: 35px;font-family:'Lato';font-weight: 500;"></span> 

    						<b>1,</b>
    						<span class="counter-count">14</span><b>,</b>
    						<b>000</b></h2>
    						<h5>BOOKINGS MADE</h5>
     						<p id="story-desc">Our products are made to maximise your bookings and are optimized regularly.</p>
    
    					 </div>

     					<img src="assets/booking.png" id="story-img">
				</div>
			</div> 
		</section>

