<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <title>Roots-Travel</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>

 <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  	<!-- Bootstrap CSS File -->
  	<link href="assets/stylesheets/bootstrap.min.css">

  	<!-- Libraries CSS Files -->
  	<link href="assets/stylesheets/animate/animate.min.css">
  	<link href="assets/stylesheets/ionicons/css/ionicons.min.css">
  	<link href="assets/stylesheets/magnific-popup.css">

   <link type="text/css" href="assets/stylesheets/Banner.css">
   <link type="text/css" href="assets/stylesheets/semantic.min.css">
   <link type="text/css" href="assets/stylesheets/Footer.css">
   <link type="text/css" href="assets/stylesheets/getstarted.css">
   <link type="text/css" href="assets/stylesheets/earning.css">


 	 <!-- Main Stylesheet File -->
 	 <link href="assets/stylesheets/style.css" >
     <link href="assets/stylesheets/owl.carousel.css">
     <link  type="text/css" href="assets/stylesheets/index.css">


</head>

<body id="body">


<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>

<script type="text/javascript">
	


	$(document).ready(function(e){

		var arrslab=new Array();
		arrslab.push(79,249,399,159,299,499);

		

		$("input").change(function function_name(argument) {
		   var arrText= new Array();
		   var commarr=new Array();
		   var earn=0;
           $('input[type=text]').each(function(){
           	var value=$(this).val()
           	if (value==""){
           		value=0;
           	}
           arrText.push(parseInt(value));
            })


           var i;
           var comm;
           for (i=0;i<arrText.length;i++){
           	sales=arrText[i];
           	if (sales>=1 && sales <=10){
           		com=0.1;
           	}
           	else if(sales>=11 && sales <=25){
           		com=0.15;
           	}
           	else if(sales>=26 && sales <=50){
           		com=0.2;
           	}
           	else if(sales>=51 && sales <=100){
           		com=0.25;
           	}
           	else if(sales==0){
           		com=0;
           	}
           	else{
           		com=0.3;
           		}
           	commarr.push(com)
           	}
           	

           	for (i=0;i<6;i++){
           		earn=earn+(arrText[i]*arrslab[i]*commarr[i])

           	}
           	earn=earn.toFixed(2)

           $(".kirti").html(earn)
           
		});


		
	});


</script>


</body>
</html>


 
<script>
$(document).ready(function(){
$('.counter-count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 1000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
});




</script>

  <script src="assets/owl.carousel.min.js"></script>
    <script>
    $('#one').owlCarousel({
    loop:true,
    margin:20,
    nav:true,
    dots: true,
    items:3,
    responsive : {
    // breakpoint from 0 up
    0 : {
      items:1,
    },
    403 : {
      items:1,
    },
    // breakpoint from 480 up
    480 : {
      items:2,
    },
    // breakpoint from 768 up
    768 : {
      items:2,
    },
    // breakpoint from 768 up
    990 : {
      items:3,
    }

}   
});
    $('#two').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    dots: true,
    items:4,
    responsive : {
    // breakpoint from 0 up
    0 : {
      items:1,
    },
    403 : {
      items:1,
    },
    // breakpoint from 480 up
    480 : {
      items:1,
    },
    // breakpoint from 768 up
    768 : {
      items:1,
    },
    // breakpoint from 768 up
    990 : {
      items:3,
    }

}   
});

    $('#three').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    dots: true,
    items:3,
    responsive : {
    // breakpoint from 0 up
    0 : {
      items:1,
    },
    403 : {
      items:1,
    },
    // breakpoint from 480 up
    480 : {
      items:1,
    },
    // breakpoint from 768 up
    768 : {
      items:2,
    },
    // breakpoint from 768 up
    990 : {
      items:2,
    }

}   
});

  </script>



  <!-- JavaScript Libraries -->
  <script src="assets/bootstrap.bundle.min.js"></script>
  <script src="assets/easing.min.js"></script>
  <script src="assets/hoverIntent.js"></script>
  <script src="assets/superfish.min.js"></script>
  <script src="assets/wow.min.js"></script>
  <script src="assets/magnific-popup.min.js"></script>
  <script src="assets/sticky.js"></script>


  <!-- Template Main Javascript File -->
  <script src="assets/main.js"></script>

</body>
</html>

